:root{
    --allbkcolor01: #F2F0EB; /* 暖亞麻色 */
    --btcolor01: rgba(255, 255, 255, 0.4); 
    --color03: #9A8C98; 
    --color04: #4A4E69;
    --color05: #E5E5E5;
    --color06: #A3B1C6; 
    --color07: #6D8299; 
    --color08: #343A40;
    --color09: #D6D6D6; 
    --color10: #5B6D5B; 
    --color11: #8C7851; 
    --color12: #2C3333;


}